[Credentials]
; Enter the token of the bot you want to use
token =
; Enter the Credentials of the Database you want use
host =
user =
password =
database =
imgur_client_id =
imgur_client_secret =

[Settings]
; Set the default prefix which the bot should listen to for its commands
prefix = !
botlog =
allow_dm_commands = False

[Events]
scoreboardChannel =

[Cooldowns]
hug = 120
fight = 120
pet = 120
img = 15
ahug = 15
