[Credentials]
; Enter the token of the bot you want to use
token =
; Enter the Credentials of the Database you want use
host =
user =
password =
database =
imgur_client_id =
imgur_client_secret =

[Settings]
; Set the prefix which the bot should listen to for its commands
prefix = !
botlog =
announce = <channel ID of the announcements.>
muted = ;Muted role id

[Events]
scoreboardChannel =

[Cooldowns]
hug =
fight =
pet =
img =
ahug =
